@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    justify-items: center;
}

body .container{
    width: 1440px;
    height: 840px;
    background-color: rgba(46, 196, 182, 0.04);
    /* opacity: 4%; */
    position: relative;
    display: grid;
}

.container .left-side{
    width: 400px;
    height: 275px;
    position: absolute;
    margin-top: 205px;
    margin-left: 140px;
}

.container .left-side img{
    width: 85px;
    height: 90px;
    top: 205px;
    left: 140px;
    box-shadow: inset;
}

.container .left-side h2{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.container .left-side p{
    font-weight: 600;
    line-height: 25px;
    opacity: 50%;
    font-size: 16px;
}

.form{
    width: 580px;
    height: 630px;
    margin-left: 720px;
    margin-top: 81px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 4px 50px 0px rgba(4, 8, 19, 0.1);
    justify-items: center;
}
.form form{
    margin-top: 10px;
}

.form .label{
    display: grid;
    padding-top: 0px;
}

.form .names .label{
    display: grid;
    width: 238px;
    height: 72px;
    padding-left: 30px;
}

.form .names{
    display: flex;
}

.form .SexandDoB{
    display: flex;
}
.form .SexandDoB .label{
    width: 238px;
    height: 72px;
    padding-left: 30px;
    margin-top: 30px;
}

.form .measurements{
    display: flex;
}
.form .measurements .label{
    width: 238px;
    height: 72px;
    padding-left: 30px;
    margin-top: 30px;
}

.form .activity{
    display: grid;
    width: 500px;
    height: 72px;
    padding-left: 30px;
    margin-top: 30px;
}


.form .password{
    display: grid;
    width: 500px;
    height: 72px;
    padding-left: 30px;
    margin-top: 30px;
}
.form button{
    background-color: rgb(78, 212, 168);
    width: 500px;
    height: 48px;
    border: 0px;
    color: beige;
    font-weight: 600;
    font-size: 16px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 3px;
    text-align: center;
}

.form p{
    width: 463px;
    height: 25px;
    font-size: 14px;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 400;
    line-height: 25px;
}

p a{
    text-decoration-color: rgb(109, 241, 197);
    color: rgb(102, 236, 192);
    font-weight: 600;
}